*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
	font-size:100%;
}

/* ================================== */

body {
	-webkit-font-smoothing:antialiased;
	color:#333332;
	font-family:Lora, serif;
	font-size:18px;
	font-weight:400;
	line-height:1.4;
	text-rendering:optimizeLegibility;
}


/* ======================= MODAL ======================= */

		.modal {
			padding: 0 1.5em;
			padding-bottom: 1.2em;
			max-width: 50ch;
			font-weight: 500;
			font-size:1em;
			border:0;
			box-shadow: 0 0 1.5em rgba(0,0,0,.75);

			/* 	& > * {
					margin: 0 0 0.5rem 0;
				} */
		}

		.modal h2 {
			line-height: 1;
		}

		.modal p {
			font-size: .8em;
			margin-bottom:30px;
		}

		.modal::backdrop {
			background:rgb(0 0 0 / .5)
		}

		.button {
			border: 0;
			cursor: pointer;
			background: var(--gray-8);
			color: var(--gray-2);
			font-weight: 700;
			font-size:1em;
			padding: var(--size-2) var(--size-4);
		}

		.button:hover, .button:focus {
			background: var(--cyan-9);
		}

		.modal button:hover button:focus {
				background: var(--cyan-9);
		}

		.inputs {
			float:left;
		}

		.form button {
			margin-top:13px;
		}

		.name-input {
			font-size:.8em;
			margin-bottom:5px;
		}

		.email-input {
			font-size:.8em;
		}

		.submit-button {
			float:right;
		}
		
		.skill-set li:hover {
			background:#3498db;
		}

/* =================================================================*/


h1 {
	color:rgba(0,0,0,.75);
}

.wrapper {
	height:100%;
}

.left {
	border-style:solid;
	border-width:.1em;
	background-color:rgba(0,0,0,.12);
	float:right;
	height:100%;
	margin-left:-1px;
	margin-bottom: 160px;
	min-width:256px;
	position:fixed;
	width:33.3%;
}

.name-hero {
	background:rgba(0,0,0,.001);
	bottom:0;
	height:auto;
	left:0;
	margin:auto;
	position:relative;
	right:0;
	top:130px;
	width:85%;
}

.name-hero img {
	max-width:100%;
}

.pic-name {
	text-align: center;
	/* border-style: solid;
	border-width:.1em; */
}

.pic-name h1 {
	color:rgb(255,255,255);
	background:rgba(0,0,0,0.8);
	font-family:Cinzel;
	font-weight:500;
	font-size:3.5em;
	margin:0;
}

.pic-name .name {
	margin:0 auto;
	max-width:100%;
}

.name-hero h1 em {
	font-style:normal;
}

.name-hero p {
	color:rgb(0,0,0);
	font-family:Cinzel;
	font-size:.75em;
	line-height:1.5;
	margin:0 8px 0 0;
	text-align:center;
}

.name-hero .name-text {
	margin:0 auto;
	width:85%;
}

.contact-info {
	margin:10px 0;
}

.right {
	float:right;
	height:100%;
	position:relative;
	width:66.6%;
}

.inner {
	margin:0 auto;
	max-width:975px;
	padding:3em;
}

.inner h1 {
	font-size:1.75em;
}

.inner p {
	color:rgba(0,0,0,.5);
}

.inner p em {
	color:rgba(0,0,0,1);
	font-style:normal;
}

.inner section {
	margin:100px auto;
}

ul {
	list-style-type:none;
	margin-top:-10px;
	max-width:570px;
	padding:0;
}

.skill-set li {
	background:rgba(0,0,0,.75);
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
	padding:10px;
	text-align:justify;
}

@media screen and (max-width: 48em) {
	.left{
		margin-bottom:70px;
	}

	.left h1{
		margin-top:0;
		font-size:2em;
	}
	
	.right,.left{
		float:none;
    position:relative !important;
		width:100%;
	}

	.name-hero{
		top:0;
		height:auto;
	}

	.name-text p{
		margin: 0 auto;
	}

	.resume-pic{
		margin:0 auto;
	}

	.inner{
		padding:0 3em;
	}

	.inner section{
		margin:0 auto;
	}
	
  .handmade{
  text-align:center !important;
  margin-top:0px !important;
	}
}

@media screen and (max-width: 99em) {
	.left h1{
		margin-top:0;
		font-size:2em;
		max-width:100%;
	}

	.left .resume-pic{
		max-width:100%;
	}
}

@media screen and (max-width: 75em) {
	body{
		font-size:16px;
	}
}

.left h1 {
	margin-top:0;
	font-size:2em;
	max-width:100%;
}

.left .resume-pic {
	max-width:100%;
}

@media screen and (max-width: 60em) {
	body{
		font-size:14px;
	}

	.left h1{
		margin-top:0;
		font-size:2em;
		max-width:100%;
	}

	.left .resume-pic{
		max-width:100%;
	}
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.handmade {
  text-align:right;
  margin-top:0;
}
.handmade em {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.25em;
  margin-left:5px;
}